.app {
  height: 100vh;
}

.app .app-header {
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0px;
}

.app .app-main {
  height: calc(100vh - 60px);
  padding-top: 60px;
}

.app .app-main > * {
  height: 100%;
}

.app .app-main .app-store {
  display: flex;
}

.app .app-main .app-store .app-store-filters {
  flex: 0 0 180px;
}

.app .app-main .app-store .app-store-list {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
}
